<% title "Map: #{@map.title}" %>
<div class="grid_12">
	<p>
    <%= link_to 'All Maps', admin_maps_path %> |
    <%= link_to 'Edit', edit_admin_map_path %> |
    <%= link_to 'Delete', new_admin_map_path %>
  </p>

	<%= raw Cartographer::Header.new.to_s %>    
	<%= raw @gmap.to_html %>  
	<div class="full-map" id="map" >[Map]</div>
</div>
