<div class="grid_12">
	<h2 id="welcome-message"><%= @site.welcome_message %></h2>
</div>

<div class="grid_4">
  <div class="box">
	  <h2>Data Collections</h2>
    <div class="block">
			<p>Browse and download published data by category</p>
			<ul>
				<% @collections.each do |c| %>
					<% if current_site && c.members.size > 0 %>
					  <li><%= link_to c.label, collection_path(rdf_id(c)) %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>

  <div class="box">
	  <h2>Powered by Civic OpenMedia</h2>
    <div class="block">
			<p>Civic OpenMedia is a publishing system for government open data. </p>
			<ul>
				<li><a href="http://www.civicopenmedia.org/">Learn more</a></li>
				<li><a href="#">Find OpenMedia Municipalities</a></li>
				<li><a href='#'>Sign up for free account</a></li>
				<li><a href='#'>Download software</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="grid_8 omega">
	<% @dashboard.groups.each do |g|  %>
		<%= render :partial => '/public/dashboards/dashboard_group', :locals  =>{ :group => g } %>
	<% end %>
	<h5>Change Dashboard</h5>

	<% unless @gmap.nil? %>
	  <div class="box">
			<%= raw Cartographer::Header.new.to_s %>    
			<%= raw @gmap.to_html %>  
			<div class="gmap" id="map" >[Map]</div>
		</div>
	<% end %>
</div>

