<div id="forms">
  <%= form_for :type, :url => @type.new_record? ? schema_domain_types_path : schema_domain_type_path(@type),
  :html => {:method=>@type.new_record? ? :post : :put } do |f| %>
  <div class="grid_12">
    <div class="box">
      <h2><%= @type.new_record? ? "New Type" : "Existing type" %></h2>
      <div class="block">
				<%= f.error_messages %>
				<fieldset>
				  <legend>Type Settings</legend>
				  <ol>
				    <li><%= f.label :name %> <%= f.text_field :name %></li>
				    <li><%= f.label :description %> <%= f.text_area :description, :rows => 3  %></li>
				  </ol>
				</fieldset>

				<fieldset class="omega">
				  <legend>Properties</legend>
				  <ol>
				    <% for property in @type.type_properties %>
				    <%= render :partial=>'property', :locals=>{:base_name=>'type[type_properties][]', :property=>property} %>
				    <% end %>
				  </ol>
				</fieldset>
				<fieldset class="submit">
					<ol>
				  	<a href="#" class="add-type-property add-element">Add Property</a>
					</ol>
				</fieldset>
				<fieldset class="submit">
					<ol>
						<li><%= f.submit "Save", :class => "submit"%> <%= link_to 'Back', :back %></li>
					</ol>
				</fieldset>
			</div>
		</div>
  </div>
  <% end %>	
</div>
