<li class="two-column-left">
<label>Name</label>
	<input name="<%=base_name %>[name]" type="text" value="<%= property.name %>"/>
</li>
<li class="two-column-right">
   <label>Expected Type</label>
   <input class="property-type-qualified-name" name="qualified_name" type="text" value="<%= property.expected_type.name if property.expected_type %>"/>
   <input type="hidden" name="<%=base_name %>[expected_type_id]" value="<%= property.expected_type_id %>"/>
   <a href="#" class="delete-type-property" alt="Delete">Delete Property</a>
</li>
