<li class="two-column-left">
<label>Name</label>
	<input name="<%=base_name %>[name]" type="text" value="<%= property.name %>"/>
</li>
<li class="two-column-right">
   <%= label_tag "#{base_name}#{property.name}_qualified_name", 'Expected Type' %>
   <%= text_field_tag "#{base_name}#{property.name}_qualified_name", property.expected_type ? property.expected_type.name : nil,
       :class=>'property-type-qualified-name' %>
   <input type="hidden" name="<%=base_name %>[expected_type_id]" value="<%= property.expected_type_id %>"/>
   <a href="#" class="delete-type-property" alt="Delete">Delete Property</a>
</li>
