<div id="forms">
	<%= form_for :domain, 
	      :url => @domain.new_record? ? schema_domains_path : schema_domain_path(@domain.id),
	      :html => {:method=>@domain.new_record? ? :post : :put } do |f| %>
  <div class="grid_8">
    <div class="box">
      <h2><%= @domain.new_record? ? "New Domain" : @domain.name %></h2>
      <div class="block">
				<%= f.error_messages %>
				<%= f.hidden_field :rev, :value => @domain['_rev'] if @domain['_rev'] %>
				<fieldset class="omega">
					<legend>Domain Properties</legend>
					<ol>
					  <li><%= f.label :name_space, 'Namespace' %> <%= f.text_field :name_space %></li>
					  <li><%= f.label :name, 'Name this database'%> <%= f.text_field :name %></li>
						<li><%= f.label :identifier, 'Web address' %>
							 	<%= f.text_field :identifier %><%= @domain.name_space.nil? ? ".openmedia.org" : "." + @domain.name_space %></li>
						<li>
							<fieldset>
							  <legend>Options</legend>
								<ol>
								  <li><%= f.check_box :hidden, {:class => 'checkbox'} %> <%= f.label :hidden, 'Hidden?' %></li>
								</ol>
							</fieldset>
						</li>
					</ol>
				</fieldset>
				<fieldset class="submit">
					<ol>
						<li><%= f.submit "Save", :class => "submit"%> <%= link_to 'Back',  :back %></li> 
					</ol>
				</fieldset>
      </div>
    </div>
  </div>
  <% end %>	
</div>
