<% title "Schema > Domains" %>
<div class="grid_8">
  <div class="box">
    <h2>Browse</h2>
    <div class="block" id="tables">
			<p>
		    <%= link_to 'Add Domain', new_schema_domain_path, {:class => 'add-element'} %>
		  </p>
      <table>
				<thead>
				  <tr>
				    <th>Site</th>
				    <th>Domain Name</th>
				    <th>Path</th>
				    <th>No. Types</th>
				    <th>No. Instances</th>
				  </tr>
				</thead>
				<% @domains.each do |d| %>
				<tr>
				  <td><%= d.site ? d.site.url : 'http://openmedia.org' %></td>
				  <td><%= link_to d.name, schema_domain_path(d) %></td>
				  <td><%= d.path %></td>
				  <td><%= d.type_count %></td>
				  <td>fix me</td>
				</tr>
				<% end %>
      </table>
    </div>
  </div>
</div>
<div class="grid_4">
	<div class="box articles">
		<div class="block" id="articles">
			<div class="first article">
				<h3>
					<a href="#">Article Heading</a>
				</h3>
				<h4>Subheading</h4>
				<p class="meta">Vancouver, BC — Wednesday, 23 April 2008</p>
				<p>Something here about role of Datasets in system</p>
			</div>
			
	</div>
	</div>
</div>
