<% title "Schema > Domain: " + @domain.name  %>
<div class="grid_12" >
	<p style="float:right;">
		<%= link_to "Browse", schema_domains_path %> | 
		<%= link_to "Edit", edit_schema_domain_path(@domain) %> <% unless @domain.name_space=='' %>|
		<%= link_to 'Delete', schema_domain_path(@domain), 
					:confirm => "Are you sure you want to delete this domain: #{@domain.name}?", 
					:method => :delete %><% end %>
		</p>
	<hr />
</div>
<div class="grid_12">
	<div class="box">
		<h2><%= @domain.name%> Commons Domain</h2>
		<div class="block">
			<%= show_fields(@domain, [
				:name, 
				:name_space,
				[:identifier, 'ID'],
				:hidden]).html_safe %>
		</div>
	</div>
</div>

<div class="grid_12">
	<div class="box" id="tables">
		<h2>Types</h2>
		<div class="block">
			<p><%= link_to "Add Type", new_schema_domain_type_path(@domain), {:class => 'add-element'} %><p>
			<table>
				<thead>
				  <tr>
				    <th>Type</th>
				    <th>ID</th>
				    <th>No. Properties</th>
				    <th>No. Instances</th>
				    <th>Description</th>
				  </tr>
				</thead>
				<tbody>
				<% @types.each do |t| %>
				<tr>
					<td><%= link_to t.name, schema_domain_type_path(@domain.id, t.id) %></td>
				  <td><%= t.identifier %></td>
				  <td><%= t.type_properties.size %></td>
				  <td>fix me</td>
				  <td><%= t.description %></td>
				</tr>
				<% end %>
				</tbody>
			</table>
      
		</div>
	</div>
</div>
