 <div class="grid_8">
		<div id="forms">
		<%= form_for :vocabulary, 
		    :url => @vocabulary.new? ? admin_om_linked_data_collection_vocabularies_path(@collection) : admin_om_linked_data_collection_vocabulary_path(@collection, @vocabulary), 
		    :html => {:method => @vocabulary.new? ? :post : :put } do |f| %>
			<div class="form-errors"><%= f.error_messages %></div>
			<fieldset class="omega">
				<ol>
				  <li><%= f.label :label, :class => "standard" %> <%= f.text_field :label, :class => "standard" %></li>
				  <li><%= f.label :comment, 'Comment', :class => "standard" %> <%= f.text_area :comment, :rows => 5, :class => "wide" %></li>
				  <li><%= f.label :tags, 'Tags', :class => "standard" %> 
							<%= f.text_area :tags, {:rows => 3, :class => "wide", :prompt => 'Enter list of comma-separated terms'} %></li>
				</ol>
			</fieldset>
			<fieldset class="omega">
			  <legend>Properties</legend>
		    <% for property in @vocabulary.properties.sort {|p1,p2| p1.label <=> p2.label} %>
		    	<%= render :partial=>'property', :locals=>{:base_name=>'class[properties][]', :property=>property} %>
		    <% end %>
		  	<a href="#" class="add-class-property add-element">Add Property</a>
			</fieldset>
			<fieldset class="submit omega">
				<ol>
					<li><%= f.submit "Save", :class => "submit"%> <%= link_to 'Back', :back %></li> 
				</ol>
			</fieldset>
		  <% end %>	
     </div>
</div>

<div class="grid_4">
	<div class="box articles">
		<div class="block" id="articles">
			<div class="first article">
				<h3><a href="#">Article Heading</a></h3>
				<h4>Subheading</h4>
				<p class="meta">Vancouver, BC — Wednesday, 23 April 2008</p>
				<p>Something here about role of Datasets in system</p>
			</div>
		</div>
	</div>
</div>
