<% title "Collections > Vocabulary > #{@vocabulary.label}" %>

<div class="grid_12" >
  <p class="page-nav">
    <%= link_to "Collection", admin_om_linked_data_collection_path(@collection) %> | 
    <%= link_to "Edit", edit_admin_om_linked_data_collection_vocabulary_path(@collection, @vocabulary) %> |
    <%= link_to 'Delete', admin_om_linked_data_collection_vocabulary_path(@collection, @vocabulary), 
	:confirm => "Are you sure you want to delete this Vocabulary and all of its data?", 
        :method => :delete %>
  </p>
  <hr />
</div>

<div class="grid_12" >
  <div class="box">
    <h2><%= @vocabulary.label %></h2>
    <div class="block">
      <%= show_fields(@vocabulary, [:label, :comment, :uri, :curie_prefix, :authority, 
																		 [:created_at, "Created"], 
																		 [:updated_at, "Modified"]
																		]).html_safe %>
    </div>
  </div>
</div>

<div class="grid_6">
  <div class="box" id="tables">
    <h2>Properties</h2>
    <div class="block">
			<% if @vocabulary.properties.length == 0 %>
				<p>None listed</p>
			<% else %>
      <table  style="width: 100%">
	<thead>
	  <tr>
	    <th>Property Label</th>
	    <th>Type</th>
	    <th>Description</th>
	  </tr>
	</thead>
	<tbody>
		<% @vocabulary.properties.each do |prop| %>
			<tr>
				<td><span class="tooltip" title="<%= prop.uri %>"><%= prop.label %></span></td>
				<td><span class="tooltip" title="<%= prop.expected_type.uri %>"><%= prop.expected_type.label %></span></td>
				<td><%= prop.comment %></td>
			</tr>
		<% end %>
	</tbody>
			</table>
			<% end %>
    </div>
  </div>
</div>

<div class="grid_6 omega">
  <div class="box" id="tables">
    <h2>Types</h2>
    <div class="block">
			<% if @vocabulary.types.length == 0 %>
				<p>None listed</p>
			<% else %>
	
      <table>
	<thead>
	  <tr>
	    <th>Type</th>
	    <th>Description</th>
	  </tr>
	</thead>
	<tbody>
		<% @vocabulary.types.each do |type| %>
			<tr>
				<td><span class="tooltip" title="<%= type.uri %>"><%= type.label %></span></td>
				<td><%= type.comment %></td>
			</tr>
		<% end %>
	</tbody>
      </table>
			<% end %>
    </div>
  </div>
</div>
