<ul class="nav main ">
	<li><%= link_to 'Home', admin_root_path, :title => "" %>
	<li><%= link_to 'Data Sources', admin_datasources_path, :title => "" %>
	<li><%= link_to 'Schema', admin_schema_collections_path, :title => "" %>
	<li><%= link_to 'Maps', admin_root_path, :title => "" %>
	<li><%= link_to 'Dashboards', admin_dashboards_path, :title => "" %>
	<li><%= link_to 'Site', admin_site_path, :title => "" %>
		<ul>
			<li><%= link_to 'Settings', admin_site_path, :title => "" %>
			<li><%= link_to 'Contacts', admin_vcards_path, :title => "" %>
			<li><%= link_to 'Job Schedule', admin_schedules_path, :title => "" %>
			<li><%= link_to 'Community', admin_root_path, :title => "" %>	
		</ul>
	<li><%= link_to 'Help', '/about', :title => "" %>
		<ul>
			<li><%= link_to 'FAQs', '/about', :title => "" %></li>
			<li><%= link_to 'Wiki', '/about', :title => "" %></li>
		</ul>
	</li>
	<li class="secondary">
		<%= link_to 'Support', '/support', :title => "" %>
	</li>
</ul>
