<ul id="nav" class="tabs">
	<li id="home" class="active"><%= link_to 'Home', admin_root_path %>
	<li id="sources"><%= link_to 'Data Sources', admin_datasources_path, :title => "" %>
	<li id="collections"><%= link_to 'Collections', admin_linked_data_collections_path, :title => "" %>
	<li id="maps"><%= link_to 'Maps', admin_maps_path, :title => "" %>
	<li id="dashboards"><%= link_to 'Dashboards', admin_dashboards_path, :title => "" %>
	<li id="site"><%= link_to 'Site', admin_site_path, :title => "" %>	
	<li id="contacts"><%= link_to 'Contacts', admin_contacts_path, :title => "" %>
	<li id="help"><%= link_to 'Help', '/about', :title => "" %>
	<li id="support"><%= link_to 'Support', '/support', :title => "" %></li>
</ul>