<li class="datasource-property">
  <ol>
    <li>
      <label class="narrow">Name</label>
      <input name="datasource[source_properties][][label]" class="standard" type="text" value="<%= property.label %>"/>
    </li>
    <li>
      <%= label_tag "datasource[source_properties][]#{property.label}_range_name", 'Type', :class => "narrow" %>
      <%= text_field_tag "datasource[source_properties][]#{property.label}_range_name", property.range_uri ? (property.range.fragment || property.range.path.split('/').last) : nil,
	  :class=>'property-range-uri' %>
      <input type="hidden" name="datasource[source_properties][][range_uri]" value="<%= property.range.to_s %>"/>
    </li>
    <li>
      <%= label_tag "datasource[source_properties][]#{property.label}_comment", 'Description', :class => "narrow" %>
      <textarea name="datasource[source_properties][][comment]" rows="2" class="standard"><%= property.comment %></textarea>
		</li>
		<li>
			<a href="#" class="delete-datasource-property delete-element" alt="Delete">Delete Property</a>
    </li>
  </ol>
</li>
