<%= ds.error_messages %>
<div class="grid_8">
	<fieldset>
	  <legend>OpenMedia</legend>
		<ol>
			<li>
	    	<%= ds.label :title, 'Name', :class => 'narrow' %> 
				<%= ds.text_field :title, :disabled=>!@datasource.new_record?, :class => 'wide' %>
	  	</li>
		  <li>
		    <%= ds.label :rdfs_class_uri, 'Type', :class => 'narrow' %>
		    <input class="datasource-class-uri wide" name="rdfs-class-identifier" type="text" value="<%= @datasource.rdfs_class.uri.path.split('/').last if @datasource.rdfs_class %>"/>
		    <%= ds.hidden_field :rdfs_class_uri %>
		  </li>				
		  <%= ds.fields_for :metadata, @datasource.metadata do |m| %>
			  <li><%= m.label :description, :class => 'narrow' %> <%= m.text_area :description, :rows => 3, :class => 'wide' %></p>

			  <li>
			    <label for="datasource-creator" class="narrow">Creator</label> 
			    <%= ds.select :creator_uri, vcard_collection, {:prompt => 'Select Contact'}, :class => "wide" %>
			  </li>

			  <li>
			    <label for="datasource-publisher" class="narrow">Publisher</label> 
			    <%= ds.select :publisher_uri, vcard_collection, {:prompt => 'Select Contact'}, :class => "wide" %>
			  </li>
			<% end %>
		</ol>				
	</fieldset>	 	

	<fieldset id="source">
	  <legend>Data Source</legend>
		<ol>
		  <li>
		    <%= ds.label :source_type, :class => 'narrow' %>
		    <%= ds.select :source_type, OpenMedia::Datasource::TYPES.collect {|t| [t.titleize, t]} %>
		  </li>

		  <li>
		    <%= ds.label :parser, :class => 'narrow' %>
		    <%= ds.select :parser, OpenMedia::Datasource::PARSERS.collect {|p| [p.titleize, p]} %>
		  </li>

		  <li>
		    <%= ds.label :column_separator, "Separator", :class => 'narrow' %>
		    <%= ds.text_field :column_separator, :class => 'narrow' %>
		  </li>

		  <li>
		    <%= ds.label :has_header_row, "Has header row?", :class => 'wide' %>
		    <%= ds.check_box :has_header_row %>
		  </li>
		</ol>
	</fieldset>	 	
</div>

<div class="grid_12">
	<fieldset class="omega">
	  <legend>Source Properties</legend>
	  <ol>
	    <% for property in @datasource.source_properties.sort {|p1,p2| p1.label <=> p2.label}.each  %>
	    <%= render :partial=>'datasource_property', :locals=>{ :property=>property } %>
	    <% end %>
	  </ol>
	  <a href="#" class="add-datasource-property add-element">add property</a>
	</fieldset>
</div>
