<% title "Data Sources" %>
<div class="grid_12">
  <% if @datasource.has_attachment?('seed_data') %>
	  <div class="box">
	    This data source has a data file attached to it from the Import page.  Click <%= link_to 'here', import_seed_data_admin_datasource_path(@datasource) %>
	    to import this data.
	  </div>
  <% end %>

  <h2><%= @datasource.title %></h2>
  <%= form_for :datasource, :url=>admin_datasource_path(:id=>@datasource.id), :html=>{:method=>:put} do |ds| %>
  <div class="box">
    <%= render :partial=>'form', :locals=>{:ds=>ds} %>
  </div>
	<fieldset class="omega submit">
	  <ol>
	    <li><%= ds.submit "Save", :class => "submit"%> <%= link_to 'Back', :back %></li>
	  </ol>
	</fieldset>
  <% end %>
</div>
