<% title "Data Sources > Edit: #{@datasource.title}" %>
<div class="grid_12">
  <p class="page-nav">
    <%#= link_to 'Refine Content', refine_admin_datasource_path(@datasource) %> 
    <%#= link_to 'Describe Datasource', describe_admin_datasource_path(@datasource) %>

    <%= link_to 'All Datasources', admin_datasources_path %> | 
    <%= link_to "Show", admin_datasource_path(@datasource) %> 
    <%#= link_to 'Publish', publishing_admin_datasource_path(@datasource) %> 
    <%#= link_to 'Delete', admin_datasource_path(@datasource), :confirm => 'Are you sure?', :method => :delete %>
  </p>
<hr/>
  <%= form_for :datasource, :url=>admin_datasource_path(:id=>@datasource.id), :html=>{:method=>:put} do |ds| %>
  <div class="box">
    <%= render :partial=>'form', :locals=>{:ds=>ds} %>
  </div>
	<fieldset class="omega submit">
	  <ol>
	    <li><%= ds.submit "Save", :class => "submit"%> <%= link_to 'Back', :back %></li>
	  </ol>
	</fieldset>
  <% end %>
</div>
