<% title "New Data Source" %>

<%= form_for :datasource, :url=>admin_datasources_path, :html=>{:multipart=>true} do |ds| %>

<div class="grid_12 alpha omega">
  <%= ds.hidden_field :source_type, :value=>OpenMedia::Datasource::TEXTFILE_TYPE %>
  <%= ds.error_messages %>
</div>

<div class="grid_6 alpha">
	<h2>Local Sources</h2>
  <fieldset class="omega">
    <%= ds.label :title %> <%= ds.text_field :title, :class=> 'wide' %>
  </fieldset>
  <div id="upload-accordion">
	  <br/><br/><br/>
	
    <h2 tabindex="1"><a href="#">Text File</a></h2>
    <div>
      <fieldset class="omega">
				<ol>
				  <li><label class="narrow">File</label> <%= file_field_tag :textfile %></li>
				  <li class="radio">
				    <%= radio_button_tag('file_type', 'CSV', true) %> <%= label_tag 'file_type_CSV', 'CSV' %>
				    <%= radio_button_tag('file_type', 'XML') %> <%= label_tag 'file_type_XML', 'XML' %>
				    <%= radio_button_tag('file_type', 'Fixed') %> <%= label_tag 'file_type_Fixed', 'Fixed' %>
				  </li>
				  <div id="csv-fields" class="import-ds-fields">
				    <%= ds.hidden_field :parser, :value=>OpenMedia::Datasource::DELIMITED_PARSER %>
				    <li><%= ds.label :column_separator, "Separator", :class => 'narrow' %> 
								<%= ds.text_field :column_separator, :class => 'narrow' %></li>
				    <li><%= ds.check_box :has_header_row %> <label>Header Row?</label></li>
				  </div>
				</ol>
      </fieldset>
      
      <div id="xml-fields" class="import-ds-fields" style="display: none">XML fields</div>
      <div id="fixed-fields" class="import-ds-fields" style="display: none">Fixed fields</div>
    </div>

    <h2 tabindex="2"><a href="#">GIS Shape File</a></h2>
    <div>
      <fieldset class="omega">
				<ol>
				  <li><label class='narrow'>Zip File</label> <%= file_field_tag :shapefile %></li>
				</ol>
      </fieldset>
    </div>

    <h2 tabindex="2"><a href="#">Web Service</a></h2>
    <div>
      <fieldset class="omega">
				<ol>
				  <li><label class='narrow'>URL</label> <%= ds.text_field :webservice_url, :class => 'standard' %></li>
				</ol>
      </fieldset>
    </div>

    <h2 tabindex="3"><a href="#">Database</a></h2>
    <div><p>Database connection properties</div>
  </div> <!-- Accordion -->
  <br/>
	<fieldset class="submit">
		<ol class ="submit-wide" >
			<li><%= ds.submit "Save" %> <%= link_to 'Back',  :back %></li> 
		</ol>
	</fieldset>
</div>

<div class="grid_6 omega">
	<h2>OpenMedia Sources</h2>
	<ul>
		<li>here users can publish global data sources filtered by geography on their site
		<li>lookup by autocomplete, keywords, category
	</ul>
</div>

<% end %>
