<% title "Import Data" %>

<%= form_for :datasource, :url=>upload_admin_datasources_path, :html=>{:multipart=>true} do |ds| %>

<div class="grid_12">
  <%= ds.hidden_field :source_type, :value=>OpenMedia::Datasource::TEXTFILE_TYPE %>
  <%= ds.error_messages %>
</div>

<div class="grid_6 ">
	<fieldset class="omega">
		<legend>Data Source</legend>
	</fieldset>
  <div id="upload-accordion">
		<h2 tabindex="1"><a href="#">Text Files</a></h2>
		<div>
			<fieldset class="omega">
				<ol>
				  <li><label class="narrow">File</label> <%= file_field_tag :textfile %></li>
					<li class="radio">
				    <%= radio_button_tag('file_type', 'CSV', true) %> <%= label_tag 'file_type_CSV', 'CSV' %>
				    <%= radio_button_tag('file_type', 'XML') %> <%= label_tag 'file_type_XML', 'XML' %>
				    <%= radio_button_tag('file_type', 'Fixed') %> <%= label_tag 'file_type_Fixed', 'Fixed' %>
					</li>
					<div id="csv-fields" class="import-ds-fields">
				    <%= ds.hidden_field :parser, :value=>OpenMedia::Datasource::DELIMITED_PARSER %>
				    <li><%= ds.label :column_separator, "Separator", :class => 'narrow' %> <%= ds.text_field :column_separator, :class => 'narrow' %></li>
						<li><%= check_box_tag :has_header_row %> <label>Header Row?</label></li>
					</div>
				</ol>
			</fieldset>
				
		  <div id="xml-fields" class="import-ds-fields" style="display: none">
		    XML fields
		  </div>
		  <div id="fixed-fields" class="import-ds-fields" style="display: none">
		    Fixed fields
		  </div>
		</div>
		<h2 tabindex="2"><a href="#">Shapefiles</a></h2>
		<div>
		  <fieldset class="omega">
		    <ol>
		      <li><label class='narrow'>ZIP File</label> <%= file_field_tag :shapefile %></li>
		    </ol>
		  </fieldset>
		</div>

		<h2 tabindex="3"><a href="#">Databases</a></h2>
		<div><p>Database connection properties</div>
  </div> <!-- Accordion -->
</div> <!-- grid_6 -->

<div class="grid_6 omega">
	<fieldset class="omega">
		<legend>OpenMedia</legend>
		<ol>
			<li><%= ds.label :title, :class => 'narrow' %> <%= ds.text_field :title, :class=> 'wide' %></li>
			<li class="radio">
		    <%= radio_button_tag('ds_btn', 'new', true) %> <%= label_tag 'ds_btn_new', 'New' %>
		    <%= radio_button_tag('ds_btn', 'existing') %> <%= label_tag 'ds_btn_existing', 'Existing' %>
			</li>
			<li>
				<div id="existing-ds-fields" style="display: none" class="import-ds-fields">
					<label class='narrow'>Name</label> <%= select_tag :datasource_id, options_from_collection_for_select(@datasources, :id, :title), :disabled=>'disabled' %>
				</div>
			</li>
			<li>
				<label class='narrow'>Collection</label> 
				<select name="collection_uri">
					<%= options_for_select OpenMedia::Site.instance.skos_collection.sub_collections.collect {|c| [c.label, c.uri]} %>
				</select>
			</li>
			<li>
				<div id="new-ds-fields" class="import-ds-fields">
				<label for="datasource-class" class='narrow'>Class</label> <input type="text" name="datasource-class" class="datasource-class"/>
				<%= ds.hidden_field :rdfs_class_uri %>
				</div>
			</li>
			<li>
			  <label for="datasource-creator"class='narrow'>Creator</label> 
			  <%= ds.select :creator_uri, @vcards.collect{|vc| [vcard_label(vc), vc.uri]} %>
			</li>
			<li>
			  <label for="datasource-publisher"class='narrow'>Publisher</label> 
			  <%= ds.select :publisher_uri, @vcards.collect{|vc| [vcard_label(vc), vc.uri]} %>
			</li>



		</ol>
	</fieldset>
	<fieldset class="submit">
		<ol>
			<li><%= ds.submit "Import", :class => "submit"%> <%= link_to 'Cancel', :back %></li>
		</ol>
	</fieldset>	
</div>
<% end %>
