<% title "Import Data" %>

<div class="grid_12">
  <%= form_for :datasource, :url=>upload_admin_datasources_path, :html=>{:multipart=>true} do |ds| %>
  <%= ds.error_messages %>
</div>

<div class="grid_6 ">
	<fieldset class="omega">
		<legend>Data Source</legend>
	</fieldset>
  <div class="accordion">
		<h3><a href="#">Text Files</a></h3>
		<div>
		  <%= ds.hidden_field :source_type, :value=>OpenMedia::Datasource::FILE_TYPE %>
			<fieldset class="omega">
				<ol>
				  <li><label>File</label> <%= file_field_tag :data_file %></li>
					<li><label>&nbsp;</label>
					  <div class="radio">
					    <%= radio_button_tag('file_type', 'CSV', true) %> <%= label_tag 'file_type_CSV', 'CSV' %>
					    <%= radio_button_tag('file_type', 'XML') %> <%= label_tag 'file_type_XML', 'XML' %>
					    <%= radio_button_tag('file_type', 'Fixed') %> <%= label_tag 'file_type_Fixed', 'Fixed' %>
					  </div>
					</li>
					<div id="csv-fields" class="import-ds-fields">
				    <%= ds.hidden_field :parser, :value=>OpenMedia::Datasource::DELIMITED_PARSER %>
				    <li><%= ds.label :column_separator, "Separator" %> <%= ds.text_field :column_separator %></li>
						<li><%= check_box_tag :has_header_row %> <label>Header Row?</label></li>
					</div>
				</ol>
			</fieldset>
				
		  <div id="xml-fields" class="import-ds-fields" style="display: none">
		    XML fields
		  </div>
		  <div id="fixed-fields" class="import-ds-fields" style="display: none">
		    Fixed fields
		  </div>
		</div>
		<h3><a href="#">Shapefiles</a></h3>
		<div>
    	<p>Shapefile fields</p>
		</div>
		<h3><a href="#">Databases</a></h3>
		<div><p>Database connection properties</div>
  </div> <!-- Accordion -->
</div> <!-- grid_6 -->

<div class="grid_6 omega">
	<fieldset class="omega">
		<legend>OpenMedia</legend>
		<ol>
			<li><%= ds.label :title %> <%= ds.text_field :title %></li>
			<fieldset>
				<ol>
					<li><div class="radio">
						<input type="radio" id="new-ds-btn" name="radio" checked="checked" /><label for="new-ds-btn">New Datasource</label>
						<input type="radio" id="existing-ds-btn" name="radio" /><label for="existing-ds-btn">Existing Datasource</label>
					</div></li>
				</ol>
			</fieldset>
			<li><div id="existing-ds-fields" style="display: none" class="import-ds-fields">
				<label>Datasource</label> <%= select_tag :datasource_id, options_from_collection_for_select(@datasources, :id, :title), :disabled=>'disabled' %>
			</div></li>
			<li>
				<label>Collection</label> 
				<select name="collection_uri">
					<%= options_for_select OpenMedia::Site.instance.skos_collection.sub_collections.collect {|c| [c.label, c.uri]} %>
				</select>
			</li>
			<li><div id="new-ds-fields" class="import-ds-fields">
				<label for="datasource-class">Class</label> <input type="text" name="datasource-class" class="datasource-class"/>
				<%= ds.hidden_field :rdfs_class_uri %>
			</div></li>
		</ol>
	</fieldset>
	<fieldset class="submit">
		<ol>
			<li><%= ds.submit "Import", :class => "submit"%> <%= link_to 'Cancel', :back %></li>
		</ol>
	</fieldset>	
</div>
<% end %>
