<% title "Data Source: " + @datasource.title %>
<div class="grid_12">
	<p class="page-nav">
		<%#= link_to 'Refine Content', refine_admin_datasource_path(@datasource) %> 
		<%#= link_to 'Describe Datasource', describe_admin_datasource_path(@datasource) %>

		<%= link_to 'All Datasources', admin_datasources_path %> | 
		<%= link_to "Edit", edit_admin_datasource_path(@datasource) %> |
		<%= link_to 'Delete', admin_datasource_path(@datasource), :confirm => 'Are you sure?', :method => :delete %>
	</p>
  <% if @datasource.has_attachment?('seed_data') %>
  <div class="box">
    This datasource has a data file attached to it from the Import page.  Click <%= link_to 'here', import_seed_data_admin_datasource_path(@datasource) %>
    to import this data.
  </div>
  <% end %>

	<hr/>
	<div class="box">
		<h2><%= @datasource.title %></h2>
		<div class="block">
			<%= show_fields(@datasource, [:uri, 
																		 [:rdfs_class_uri, 'Type'],
																		 :description]) %>
			<table class="property-table">
			  <tr>
			    <th class="property-table">Creator:</th>
			    <td><%= vcard_label(@datasource.creator) %>
			  </tr>

			  <tr>
			    <th class="property-table">Publisher:</th>
			    <td><%= vcard_label(@datasource.publisher) %>
			  </tr>
			</table>

			<%= show_fields(@datasource, [:source_type, :parser, [:column_separator, 'Separator'], 
			                              :has_header_row]) %>
		</div>
	</div>
</div>

<div class="grid_12" style="overflow: auto">
  <div class="box">
    <h2>Unpublished Data</h2>

    <table id="raw-data-table" class="display">
      <thead>
	<tr>
	  <% @datasource.source_properties.each do |p| %>
	  <th><%= p.label %></th>
	  <% end %>
	</tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="grid_8">
	<div class="box">
		<h2>Source Properties</h2>
		<div class="block">
		   <table>
		     <thead>
		       <tr><th>Name</th><th>Type</th></tr>
		     </thead>
		     <% @datasource.source_properties.sort {|p1,p2| p1.label <=> p2.label}.each do |sp| %>
		     <tr>
		       <th><%= sp.label %></th>
		       <td><span class="tooltip" title="<%=sp.range_uri%>"><%= short_uri(sp.range_uri) %></span></td>
		     </tr>
		     <% end %>
		   </table>
		</div>
	</div>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Metadata</h2>
    <div class="block">
      <p><b>URI:</b> <br/><%=h @datasource.metadata_uri %></p>
      <%  if @datasource.metadata %>
      <%= render :partial => 'admin/metadatas/show', :locals => {:metadata => md } %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#raw-data-table').dataTable({'sAjaxSource': '/admin/datasources/<%= @datasource.id %>/raw_records.json',
                                  'bFilter': false,
                                  'bSort': false,
                                  'bProcessing': true,
                                  'bScrollCollapse': true,
                                  'bServerSide': true,
                                  'sScrollX': '100%',
                                  'sPaginationType': 'full_numbers'});
});
</script>
