<% title "Schema > Collection: #{@collection.label}" %>
<div class="grid_12" >
	<p class="page-nav">
		<%= link_to "All Collections", schema_collections_path %> <% if current_site.skos_collection.contains?(@collection) %> |
		<%= link_to "Edit", edit_schema_collection_path(rdf_id(@collection)) %> |
		<%= link_to 'Delete', schema_collection_path(rdf_id(@collection)), 
					:confirm => "Are you sure you want to delete this collection, all of its classes, and all of the data those classes contain?", 
					:method => :delete %>
		<% end %>
		</p>
	<hr />
</div>
<div class="grid_12">
	<div class="box">
		<h2><%= @collection.label%></h2>
		<div class="block">
			<%= show_fields(@collection, [
				:label, 
				:uri,
			        :hidden,
			        :created,
			        :modified]).html_safe %>
		</div>
	</div>
</div>

<div class="grid_12">
	<div class="box" id="tables">
		<h2>Types</h2>
		<div class="block">
		        <% if current_site.skos_collection.contains?(@collection) %>
			<p><%= link_to "Add Class", new_schema_collection_class_path(rdf_id(@collection)), {:class => 'add-element'} %><p>
		        <% end %>
			<table>
				<thead>
				  <tr>
				    <th>Class</th>
				    <th>URI</th>
				    <th>No. Properties</th>
				    <th>No. Instances</th>
				    <th>Comment</th>
				  </tr>
				</thead>
				<tbody>
				<% @classes.each do |cls| %>
				<tr>
				  <td><%= link_to cls.label, schema_collection_class_path(rdf_id(@collection), rdf_id(cls)) %></td>
				  <td><%= cls.uri %></td>
				  <td><%= cls.properties.size %></td>
				  <td><%= cls.instance_count(current_site) %></td>
				  <td><%= cls.comment %></td>
				</tr>
				<% end %>
				</tbody>
			</table>
      
		</div>
	</div>
</div>
