<p><b>Name:</b> <br/><%=h show.first_name %> <%=h show.last_name %></p>
<p><b>Job title:</b> <br/><%=h show.job_title %></p>
<p><b>Phone:</b> <br/><%#=h show.phone %></p>
<p><b>Email:</b> <br/><%=h show.email %></p>
<p><b>Note:</b><br/> <%=h show.note %></p>
