<%= ds.error_messages %>
<fieldset>
  <legend><b>Basic Info</b></legend>
  <p>
    
    <%= ds.label :title %> <%= ds.text_field :title, :disabled=>!@dataset.new_record? %>
  </p>
  <p><%= ds.label :catalog_ids, 'Catalogs' %><br/><%= ds.select :catalog_ids, catalog_collection, {}, {:multiple=>true} %></p>				
  <%= ds.fields_for :metadata, @dataset.metadata do |m| %>
  <p><%= m.label :description %><br/> <%= m.text_area :description, :rows => 3 %></p>
  <p><%= m.label :keywords, 'Keywords (separated by commas)' %><br/> <%= m.text_area :keywords, :rows => 3 %></p>
  <p class="date"><%= m.label :last_updated %> <%= m.text_field :last_updated %></p>
  <% end %>				
</fieldset>	 	

<fieldset id="property-set">
  <legend><b>Properties</b></legend>
  <% for property in @dataset.dataset_properties %>
  <%= render :partial=>'property', :locals=>{ :base_name=>'dataset[dataset_properties][]', :property=>property } %>
  <% end %>
  <a href="#" class="add-property" rel="dataset[dataset_properties][]">add property</a>
</fieldset>	 	


<fieldset>
  <legend><b>Source</b></legend>
  <%= ds.fields_for :source, @dataset.source do |s| %>
  <p>
    <%= s.label :source_type %>
    <%= s.select :source_type, OpenMedia::Source::TYPES.collect {|t| [t.titleize, t]} %>
  </p>

  <p id="parser">
    <%= s.label :parser %>
    <%= s.select :parser, OpenMedia::Source::PARSERS.collect {|p| [p.titleize, p]} %>
  </p>

  <p>
    <%= s.label :column_separator %>
    <%= s.text_field :column_separator %>
  </p>

  <p>
    <%= s.label :skip_lines %>
    <%= s.text_field :skip_lines %>
  </p>

  <p>
    <a href="#" class="seed-properties" style="float: right">Import Properties From File</a>
    <b>Properties</b>
  </p>
  <% for property in @dataset.source.source_properties %>
  <%= render :partial=>'property', :locals=>{ :base_name=>'dataset[source][source_properties][]', :property=>property } %>
  <% end %>
  <a href="#" class="add-property" rel="dataset[source][source_properties][]">add property</a>
  <% end %>
</fieldset>	 	
