<div class="property">    
  <p style="float: right"><br/>
    <a href="#" class="delete-property">delete</a>
  </p>

  <% unless base_name=~/source/ %>
  <p style="width: 30%; float: right">
    <label>Source Property:</label>
    <select name="<%=base_name%>[source_name]" class="source-select">
      <% if @dataset %>
      <%= options_for_select [''].concat(@dataset.dataset_properties.collect{|p| p.name}), property.source_name %>
      <% else %>
      <option/>
      <% end %>
    </select>
  </p>
  <% end %>

  <p style="width: 28%; float: right">
    <label>Data type</label>
    <select name="<%=base_name %>[data_type]">
      <%= options_for_select OpenMedia::Property::TYPES.collect{|t| [t.titleize, t]}, property.data_type %>
    </select>
  </p>

  <p style="width: 35%">
    <label>Name</label>
    <input name="<%=base_name %>[name]" size="30" type="text" value="<%= property.name %>" class="property-name"/>
  </p>
</div>
