<% title "Datasets" %>
<div class="grid_8">
  <% if @dataset.has_attachment?('seed_data') %>
  <div class="box">
    This dataset has a data file attached to it from the Import page.  Click <%= link_to 'here', import_seed_data_admin_dataset_path(@dataset.identifier) %>
    to import this data.
  </div>
  <% end %>
  <div class="box">
    <h2><%= @dataset.title %></h2>
    <%= form_for :dataset, :url=>admin_dataset_path(:id=>@dataset.identifier), :html=>{:method=>:put} do |ds| %>
    <div class="box">
      <%= render :partial=>'form', :locals=>{:ds=>ds} %>
    </div>
    <p>
      <%= link_to 'Back',  :back %>
      <%= ds.submit "Submit", :class => "buttonSubmit", :style => "float: right;"%><br/>
    </p>
    <% end %>
  </div>
</div>
