<% title "Datasets" %>
<div class="grid_12" >
  <p style="float:right;">
    <%= link_to 'New Dataset', new_admin_dataset_path %> |
    <%= link_to 'Publish', new_admin_dataset_path %>
  </p>
  <hr/>
</div>
<div class="grid_12">
  <p>Something here about role of Datasets in system</p>
  <div class="box">
    <h2>Datasets List</h2>
    <div class="block" id="tables">
      <table>
	<thead>
	  <tr>
	    <th>Catalogs</th>
	    <th>Title</th>
	    <th>Description</th>
	    <th>Records</th>
	    <th>Updated</th>
	    <th></th>
	  </tr>
	</thead>
	<% @datasets.each do |ds| %>
	<tr>
	  <td><%= ds.catalogs.collect{|c| c.title}.join(', ') %></td>
	  <td><%= link_to ds.title, admin_dataset_path(ds.identifier) %></td>
	  <td><%= ds.metadata.description unless ds.metadata.nil? %></td>
	  <td><%= ds.model.count %></td>
	  <td><%= ds.updated_at.to_s(:full) %></td>
	  <td><%= link_to 'edit', edit_admin_dataset_path(ds.identifier) %></td>
	</tr>
	<% end %>
      </table>
    </div>
  </div>
</div>
