<% title "Import Data" %>

<div class="grid_8 upload">
  <%= form_for :dataset, :url=>upload_admin_datasets_path, :html=>{:multipart=>true} do |ds| %>
  <div class="box">
	  <h2>Source and Destination</h2>
		<div class="block">
	    <%= ds.error_messages %>
	  <div id="accordion">
	    <%= ds.fields_for :source, @dataset.source do |s| %>
	    <h3><a href="#">File Source</a></h3>
	    <div>
	      <%= s.hidden_field :source_type, :value=>OpenMedia::Source::FILE_TYPE %>
	      <p><label>File</label>  <%= file_field_tag :data_file %></p>
	      <div class="radio">
					<%= radio_button_tag('file_type', 'CSV', true) %> <%= label_tag 'file_type_CSV', 'CSV' %>
					<%= radio_button_tag('file_type', 'Shapefile') %> <%= label_tag 'file_type_Shapefile', 'Shapefile' %>
					<%= radio_button_tag('file_type', 'XML') %> <%= label_tag 'file_type_XML', 'XML' %>
					<%= radio_button_tag('file_type', 'Fixed') %> <%= label_tag 'file_type_Fixed', 'Fixed' %>
	      </div>
	      <div id="csv-fields" class="import-ds-fields">
					<%= s.hidden_field :parser, :value=>OpenMedia::Source::DELIMITED_PARSER %>
					<p><%= s.label :column_separator %> <%= s.text_field :column_separator %></p>
					<p><%= check_box_tag :has_header_row %> Has Header Row?
	      </div>
	      <div id="shapefile-fields" class="import-ds-fields" style="display: none">
					Shapefile fields
	      </div>
	      <div id="xml-fields" class="import-ds-fields" style="display: none">
					XML fields
	      </div>
	      <div id="fixed-fields" class="import-ds-fields" style="display: none">
					Fixed fields
	      </div>
	    </div>
	    <h3><a href="#">Database Source</a></h3>
	    <div><p>Database connection properties</div>
	  </div>
		<br/><hr/>
		<h4>Destination</h4>
    <div class="radio">
      <input type="radio" id="new-ds-btn" name="radio" checked="checked" /><label for="new-ds-btn">New Dataset</label>
      <input type="radio" id="existing-ds-btn" name="radio" /><label for="existing-ds-btn">Existing Dataset</label>
    </div>
    <div id="new-ds-fields" class="import-ds-fields">
      <p><%= ds.label :data_type_id, 'Data Type' %>  <input type="text"/>
	<br/>OR Create New Type in Domain:
	<select name="domain_id">
	  <%= options_for_select current_site.domains.collect {|d| [d.name, d.id]} %>
	</select>
      </p>				
      
      <p><%= ds.label :data_type_id, 'Data Type' %>  <input type="text"/></p>				
      <p><%= ds.label :title %><br/><%= ds.text_field :title %></p>
    </div>
    <div id="existing-ds-fields" style="display: none" class="import-ds-fields">
      <label>Dataset</label><br/>  <%= select_tag :dataset_id, options_from_collection_for_select(@datasets, :identifier, :title), :disabled=>'disabled' %>
    </div>
    <% end %>
  </div>
  <p>
    <%= link_to 'Back',  :back %>
    <%= ds.submit "Import", :class => "buttonSubmit", :style => "float: right;"%><br/>
  </p>
<% end %>
</div>
</div>


<div class="grid_4 omega">
  <div class="box">
    <h2>About Datasets</h2>
    <div class="block">
      <p></p>
    </div>
  </div>
</div>
