<% title "Dataset: " + @dataset.title %>
<div class="grid_12">
	<p style="float:right;">
		<%#= link_to 'Refine Content', refine_admin_dataset_path(@dataset.identifier) %> 
		<%#= link_to 'Describe Dataset', describe_admin_dataset_path(@dataset.identifier) %>

		<%= link_to 'List all', admin_datasets_path %> | 
		<%= link_to "Edit", edit_admin_dataset_path(@dataset.identifier) %> |
		<%= link_to 'Delete', admin_dataset_path(@dataset.identifier), :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<hr/>
	<div class="box">
		<h2>Facts</h2>
		<div class="block">
			<p><%= @dataset.metadata.description %></p>
			<p><b>URI:</b> <%= @dataset.uri%> 
			
		</div>
	</div>
	<div class="box">
		<h2><%=h @dataset.model.count.to_s + " Records" %></h2>
		<div class="block">
			<p>Show: 5 10 25 50 rows          < Previous | Next ></p>
			<%= render :partial => 'list_properties_by_column', 
								 :locals => {:properties => @dataset.dataset_properties, :documents => @documents } %>
			<p>Show: 5 10 25 50 rows          < Previous | Next ></p>
		</div>
	</div>
</div>
<div class="grid_8">
	<div class="box">
		<h2>Properties</h2>
		<div class="block">
			<%# doc = filter_internal_properties(@documents).sort %> 
			<%#= render :partial => 'record', :locals => {:doc => doc } %>
		</div>
	</div>
</div>
<div class="grid_4">
	<div class="box">
		<h2>Metadata</h2>
		<div class="block">
	    <p><b>URI:</b> <br/><%=h @dataset.uri %></p>
			<% md = !@dataset.metadata.nil? ? @dataset.metadata : {} %>
			<%= render :partial => 'admin/metadatas/show', :locals => {:metadata => md } %>
		</div>
	</div>
</div>
