<% title "Datasets" %>
<div class="grid_8">
	<p style="float:right;">
		<%#= link_to 'Refine Content', refine_admin_dataset_path(@dataset.identifier) %> 
		<%#= link_to 'Describe Dataset', describe_admin_dataset_path(@dataset.identifier) %>

		<%= link_to 'List all', admin_datasets_path %> | 
		<%= link_to "Edit", edit_admin_dataset_path(@dataset.identifier) %> |
		<%= link_to 'Delete', admin_dataset_path(@dataset.identifier), :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<hr/>
	<div class="box">
		<h2><%=h @dataset.title %></h2>
		<div class="block">
			<% doc = filter_internal_properties(@docs).sort %> 
			<%= render :partial => 'record', :locals => {:doc => doc } %>
		</div>
	</div>
</div>
<div class="grid_4">
	<div class="box">
		<h2>Dataset: <%=h @dataset.title %></h2>
		<div class="block">
	    <p><b>URI:</b> <br/><%=h @dataset.uri %></p>
			<% md = !@dataset.metadata.nil? ? @dataset.metadata : {} %>
			<%= render :partial => 'admin/metadatas/show', :locals => {:metadata => md } %>
		</div>
	</div>
</div>
