<% title "New Dataset" %>
<div class="grid_4">
	<div class="box">
		<h2>Steps</h2>
		<div class="block">
			<ol>
				<li>Define Dataset</li>
				<b><li>Upload content</li></b>
				<li>Import content</li>
			</ol>
		</div>
	</div>
	<div class="box">
		<h2>About</h2>
		<div class="block">
			<p>Choose a content source. </p>  
			<ol>
				<li>File: specify file source. Does the first line in file list column names?  Which character is used to separate the data values?</li>
				<li>Database: provide connection information and table source.</li>
				<li>Web service: include a sentence or two of notes about this content.</li>
			</ol>
		</div>
	</div>
</div>
<div class="grid_8">
	<div class="box">
		<h2>Data Sources</h2>
		<div class="block">
			<div class="box">
				<h5>Dataset title: <%= @dataset.title %></h5>
				<hr/><h5>File</h5>
				<%= form_for :dataset, :url => upload_file_admin_dataset_path(@dataset.identifier), :html => {:multipart => true, :method=>:put} do |f| %>
					<p><b><%= f.label :delimiter_character, "Column Separator:" %><b/> <%= f.text_field :delimiter_character %></p>
					<p><%= f.label :has_header_row, "Column names in first row?:" %><b/> <%= f.check_box :has_header_row %></p>
					<p>
					  <%= label_tag 'filename', 'File name:' %><br/>
					  <%= file_field_tag 'uploaded_file' %>
					</p>
				  <p><%= submit_tag 'Upload file' %></p>
				<% end %>
				<hr/><h5>Database</h5>
				<hr/><h5>Web Service</h5>
			</div>
		</div>
	</div>
</div>
