<tr>
	<td><%= measure["measure"].html_safe %></td>
	<td><%= measure["prior"].html_safe %></td>
	<td><%= measure["current"].html_safe %></td>
	<td><%= measure["rank"] %></td>
	<td <%= "class='#{measure['visual']}'" if measure['visual'] %> <%= "values='#{measure['values'].join(',')}'" unless measure['values'].empty? %> ></td>
</tr>
