<div id="forms">
  <%= form_for :vcard, :url=>admin_vcards_path do |f| %>
  <div class="grid_6">
    <div class="box">
      <h2><%= vcard_formatted_name(@vcard) || "New Organization" %></h2>
      <div class="block">
	<%= f.error_messages %>
	<fieldset>
	  <p><%= f.label :name %> <%= f.text_field :name %></p>
	  <p><%= f.label :abbreviation, 'Organization abbreviation' %> <%= f.text_field :abbreviation %></p>
	  <p><%#= f.label :phone %> <%#= f.text_field :phone %></p>
	  <p><%= f.label :email %> <%= f.text_field :email %></p>
	  <p><%= f.label :website_url, 'Website URL'  %> <%= f.text_field :website_url %></p>
	  <p><%= f.label :note %><br/> <%= f.text_area :note, :rows => 3 %></p>
	</fieldset>
	<%#= render @vcard.address  %>
      </div>
    </div>
  </div>

  <div class="grid_6">
    <div class="box">
      <h2>Contacts</h2>
      <div class="block" id="forms">
	<fieldset>
	  <%= render @vcard.contacts %>
	</fieldset>
      </div>
    </div>
  </div>
  <div class="grid_12">
    <p>
      <%= link_to 'Back', :back %>
      <%= f.submit "Submit", :class => "buttonSubmit", :style => "float: right;"%><br/>
    </p>
  </div>
  <% end %>	
</div>
