<% title "A publishing system for government open data" %>
<div class="grid_4">
  <div class="box">
    <div class="block" id="tables">
      <table style="width:100%">
				<thead>
				  <tr>
				    <th>Name</th>
				    <th>No. Datasets</th>
				  </tr>
				</thead>
				<% @collections.each do |c| %>
				<tr>
				  <td><%= link_to c.label, admin_schema_collection_path(rdf_id(c)) %></td>
				  <% if current_site %>
				  <td><%= c.members.select{|c| c.parent.parent==current_site.skos_collection.uri.parent }.size %></td>
				  <% else %>
				  <td><%= c.members.size %></td>
				  <% end %>
				</tr>
				<% end %>
      </table>
    </div>
  </div>
</div>

<div class="grid_4" >
  <div class="box">
    <div class="block">
	    <%= render :partial=>'shared/map' %>
		</div>
	</div>
</div>

<div class="grid_4">
		<div class="spotlight" id="frontpage_load_data">
			<h2><%= link_to '1. Import Data', new_admin_datasource_path, :title => "" %></h2>
			<p>Upload your organization's data content</p>
		</div>
</div>
<div class="grid_4">
	<div class="spotlight">
		<h2><%= link_to '2. Edit Content', admin_datasources_path, :title => "" %></h2>
		<p>Define terms, edit, filter and extend datasource values</p>
	</div>
</div>
<div class="grid_4">
	<div class="spotlight">
		<h2><%= link_to '3. Publish', admin_settings_path, :title => "" %></h2>
		<p>Make datasources accessible to others</p>
	</div>
</div>
