<% title "A publishing system for government open data" %>
<div class="grid_4">
		<div class="spotlight" id="frontpage_load_data">
			<h2><%= link_to '1. Specify Sources', new_admin_datasource_path, :title => "" %></h2>
			<p>Upload your organization's data content</p>
		</div>
</div>
<div class="grid_4">
	<div class="spotlight">
		<h2><%= link_to '2. Prepare and Publish', admin_datasources_path, :title => "" %></h2>
		<p>Define terms, filter and extend datasource values, make data accessible to others </p>
	</div>
</div>
<div class="grid_4 omega">
	<div class="spotlight">
		<h2><%= link_to '3. Visualize Information', admin_dashboards_path, :title => "" %></h2>
		<p>Produce dashboards, charts and maps.</p>
	</div>
</div>
<hr/>
<div class="clear"></div>
<div class="grid_4">
  <div class="box">
		<h2>Data Collections</h2>
    <div class="block" id="tables">
      <table style="width:100%">
				<thead>
				  <tr>
				    <th>Name</th>
				    <th>No. Datasets</th>
				  </tr>
				</thead>
				<% @collections.each do |c| %>
				<tr>
				  <td><%= link_to c.label, admin_schema_collection_path(c["_id"]) %></td>
				  <% if current_site %>
				  <td><%#= c.members.select{|c| c.parent.parent==current_site.skos_collection.uri.parent }.size %></td>
				  <% else %>
				  <td><%= c.members.size %></td>
				  <% end %>
				</tr>
				<% end %>
      </table>
    </div>
  </div>
</div>

<div class="grid_8 omega" >
		<% @dashboard.groups.each do |g|  %>
			<%= render :partial => '/public/dashboards/dashboard_group', :locals  =>{ :group => g } %>
		<% end %>

  <div class="box">
    <div class="block">
	    <%= render :partial=>'shared/map' %>
		</div>
	</div>
</div>

