<% fields_for(@address) do |a| %>
	<fieldset>
		<legend>Address</legend>
    <p><%= a.label :address_1 %> <%= a.text_field :address_1 %></p>
    <p><%= a.label :address_2 %> <%= a.text_field :address_2 %></p>
    <p><%= a.label :city %> <%= a.text_field :city %></p>
	  <p><%= a.label :state_abbreviation, 'State' %> 
			 <%= a.select :state_abbreviation, state_collection, {:prompt => 'Select state'}  %></p>
    <p><%= a.label :zipcode %> <%= a.text_field :zipcode %></p>
    <p><%= a.label :address_type %> <%= a.select :address_type, {'Business' => "Business"}, :include_blank => true %></p>
	</fieldset>
<% end %>