<% fields_for(@contact) do |c| %>
    <%= c.error_messages %>
    <p><%= c.label :first_name %> <%= c.text_field :first_name %></p>
    <p><%= c.label :last_name %> <%= c.text_field :last_name %></p>
    <p><%= c.label :job_title %> <%= c.text_field :job_title %></p>
    <p><%#= c.label :phone %> <%#= c.text_field :phone %></p>
	  <p><%= c.label :email %> <%= c.text_field :email %></p>
	  <p><%= c.label :website_url, 'Website URL'  %> <%= c.text_field :website_url %></p>
    <p><%= c.label :note %><br/> <%= c.text_area :note, :rows => 3 %></p>
<% end %>
