<div id="forms">
	<%= form_for :organization, :url=>admin_organizations_path do |f| %>
		<div class="grid_6">
			<div class="box">
				<h2><%= @organization.name || "New Organization" %></h2>
				<div class="block">
				  <%= f.error_messages %>
					<%= f.hidden_field :rev, :value => @organization['_rev'] if @organization['_rev'] %>
					<fieldset>
					  <p><%= f.label :name %> <%= f.text_field :name %></p>
					  <p><%= f.label :abbreviation, 'Organization abbreviation' %> <%= f.text_field :abbreviation %></p>
					  <p><%#= f.label :phone %> <%#= f.text_field :phone %></p>
					  <p><%= f.label :email %> <%= f.text_field :email %></p>
					  <p><%= f.label :website_url, 'Website URL'  %> <%= f.text_field :website_url %></p>
			    	<p><%= f.label :note %><br/> <%= f.text_area :note, :rows => 3 %></p>
					</fieldset>
					<%#= render @organization.address  %>
				</div>
			</div>
		</div>

		<div class="grid_6">
			<div class="box">
				<h2>Contacts</h2>
				<div class="block" id="forms">
					<fieldset>
						<%= render @organization.contacts %>
					</fieldset>
				</div>
			</div>
		</div>
	<div class="grid_12">
	<p>
		<%= link_to 'Back', :back %>
		<%= f.submit "Submit", :class => "buttonSubmit", :style => "float: right;"%><br/>
	</p>
	</div>
	<% end %>	
</div>
