<% title "Organizations" %>
<div class="grid_12" >
	<p style="float:right;">
		<%= link_to 'Edit', edit_admin_organization_path(@organization) %> |
		<%= link_to 'Add another', new_admin_organization_path %> |
		<%= link_to 'List all', admin_organizations_path %> | 
		<%= link_to 'Delete', admin_organization_path(@organization), :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<hr/>
</div>
<div class="grid_3">
		<div class="box">
			<h2>Organization</h2>
			<div class="block">
				<h5><%= concat_organization_name_abbreviation(@organization) %></h5>
				<% unless @organization.website_url.blank? %>
		    	<p><b>Homepage:</b> <br/><%= link_to h(@organization.website_url), @organization.website_url %></p>
				<% end %>
		    <p><b>Note:</b> <br/><%=h @organization.note %></p>
				<h5>Addresses</h5>
				<%= render(:partial => 'admin/addresses/show', :collection => @organization.addresses) %>
				<hr/>
				<h5>Contacts</h5>
				<%= render(:partial => 'admin/contacts/show', :collection => @organization.contacts) %>
			</div>
		</div>
</div>
<%#= render :partial => 'admin/content_documents/list_content_documents', :locals => {:content_documents => @organization.get_creator_content_documents } %>
