<ol>
  <li>
    <label class='narrow'>Name</label>
    <input name="<%=base_name %>[label]" class="standard" type="text" value="<%= property.label %>"/>
  </li>
  <li>
    <%= label_tag "#{base_name}#{property.label}_range_name", 'Type', :class => 'narrow' %>
    <%= text_field_tag "#{base_name}#{property.label}_range_name", property.range ? (property.range.fragment || property.range.path.split('/').last) : nil,
 :class=>'property-type-uri' %>
    <input type="hidden" name="<%=base_name %>[range]" value="<%= property.range.to_s %>"/>
    <% if property.exists? %>
    <input class="class-property-uri" type="hidden" name="<%=base_name %>[uri]" value="<%= property.uri %>"/>
    <% end %>  
  </li>
  <li>
    <%= label_tag "#{base_name}#{property.label}_comment", 'Description', :class => 'narrow'  %>
    <textarea name="<%=base_name%>[comment]" class="standard" rows="2" ><%= property.comment %></textarea>
  </li>
	<li>
    <a href="#" class="delete-class-property delete-element" alt="Delete">Delete Property</a>
	</li>
</ol>
