<% title "Schema > Class > #{@class.label}" %>

<div class="grid_12" >
  <p style="float: right">
    <%= link_to "Browse", schema_collection_path(rdf_id(@collection)) %> | 
    <%= link_to "Edit", edit_schema_collection_class_path(rdf_id(@collection), rdf_id(@class)) %> |
    <%= link_to 'Delete', schema_collection_class_path(rdf_id(@collection), rdf_id(@class)), 
	:confirm => "Are you sure you want to delete this class and all of its data?", 
        :method => :delete %>
  </p>
  <hr />
</div>

<div class="grid_12" >
  <div class="box">
    <h2><%= @class.identifier %></h2>
    <div class="block">
      <%= show_fields(@class, [:label, :comment, :uri, :created, :modified]).html_safe %>
    </div>
  </div>
</div>

<div class="grid_12">
  <div class="box" id="tables">
    <h2>Properties</h2>
    <div class="block">
      <table>
	<thead>
	  <tr>
	    <th>Label</th>
	    <th>Comment</th>
	    <th>Range (Type)</th>
	    <th>Identifier</th>
	  </tr>
	</thead>
	<tbody>
	  <% @class.properties.each do |property| %>
	  <tr>
	    <td><%= property.label %></td>
	    <td><%= property.comment %></td>
	    <td><%= property.range %></td>
	    <td><%= property.identifier %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
</div>
