<% title "Collections" %>
<div class="grid_12">
  <%= link_to 'Add Collection', new_admin_om_linked_data_collection_path %>
	<hr />
</div>
<div class="grid_8">
	<div id="filter-collections" style="display:inline-block;">
		<input type="radio", id="radio1" name="radio" checked="checked" /><label for="radio1">Site</label>
		<input type="radio", id="radio2" name="radio"  /><label for="radio2">Commons</label>
		<input type="radio", id="radio3" name="radio"  /><label for="radio3">All</label>
	</div>
  <div class="block" id="tables">
    <table>
		<thead>
		  <tr>
		    <th>Label</th>
		    <th>ID</th>
				<th>Comments</th>
		    <th>No. Vocabularies</th>
		  </tr>
		</thead>
		<% if @collections.nil? %>
			<tr><td colspan=4>No Collections found.</td></tr>
		<% else %>
			<% @collections.each do |c| %>
			<tr>
			  <td><%= link_to c.label, admin_om_linked_data_collection_path(c) %></td>
			  <td><%= c.identifier.split("collection_openmedia_dev_").last  %></td>
			  <td><%= c.comment %></td>
				<td><%= OmLinkedData::Vocabulary.find_by_collection_id(c.identifier).length %>
			</tr>
			<% end %>
		<% end %>
    </table>
  </div>
</div>

<div class="grid_4">
	<div class="box articles">
		<div class="block" id="articles">
			<div class="first article">
				<h3>Organize Data Content</h3>
				<p class="meta">Help others find and use your site's data.</p>
				<p>OpenMedia Collections and Vocabularies add uniformity to data content and group that content into common concepts.</p>
				<p>Here you will find defined Collections: common categories where you may publish uploaded content.</p>
				<p>Within Collections, Vocabularies for open and consensus standards are provided (as available) to make it easy to quickly publish and share information using common terms and vocabularies.</p>
				<p>When you upload new data sources, you may associate the content with existing Vocabulary or create a new one based on the new information</p>
				<p>If an appropriate Collection or Vocabulary isn't already available, you may also add your own.</p>
			</div>
		</div>
	</div>
</div>
