<% title "Collection: #{@collection.label}" %>
<div class="grid_12" >
	<p class="page-nav">
		<%= link_to "All Collections", admin_om_linked_data_collections_path %> |
		<%= link_to "Edit", edit_admin_om_linked_data_collection_path(@collection) %> |
		<%= link_to 'Delete', admin_om_linked_data_collection_path(@collection), 
					:confirm => "Are you sure you want to delete this collection, all its Vocabularies, and all of the data those Vocabularies contain?", 
					:method => :delete %>
	</p>
	<hr />
</div>
<div class="grid_7">
	<div class="box">
		<h2><%= @collection.label %></h2>
		<div class="block">
			<% if @collection.comment.nil? %>
				<%= link_to "Add Comment", edit_admin_om_linked_data_collection_path(@collection) %>
			<% else %>
				<p><%= @collection.comment %></p>
				<p><%= link_to "Edit Description", edit_admin_om_linked_data_collection_path(@collection) %>
			<% end %>
			<% if @collection.tags.length > 0 %>
				<h5>Tags</h5>
				<ul>
					<% @collection.tags.sort.each do |t| %>
						<li><%= t %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</div>
<div class="grid_5 omega">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Vocabularies</a></li>
			<li><a href="#tabs-2">Sites</a></li>
		</ul>
		<div id="tabs-1">
			<h5>Vocabularies used from the Commons</h5>
			<hr />
			<ul>
				<%= "<li>None listed</li>".html_safe if @commons_vocabs.length == 0 %>
				<% @commons_vocabs.each do |v| %>
					<li><%= link_to v.label, admin_om_linked_data_collection_vocabulary_path(@collection, v.identifier) %></li>
				<% end %>
			</ul>
			<h5>Vocabularies created for this Collection</h5>
			<hr />
			<ul>
				<%= "<li>None listed</li>".html_safe if @site_vocabs.length == 0 %>
				<% @site_vocabs.each do |v| %>
					<li><%= link_to v.label, admin_om_linked_data_collection_vocabulary_path(@collection, v) %> <%#= "(#{vocab.instance_count})" %></li>
				<% end %>
			</ul>
			<p><%= link_to "Add Vocabulary", new_admin_om_linked_data_collection_vocabulary_path(@collection), {:class => 'add-element'} %><p>
		</div>
		<div id="tabs-2">
			<p>Sites with data in this Collection</p>
			<hr />
			<ul>
				<li>None listed</li>
			</ul>
		</div>
	</div>
	
</div>