<%= fields_for(gnis) do |g| %>
   <p><%= g.label :feature_id, 'Feature ID' %> <%= g.text_field :feature_id %></p>
   <p><%= g.label :feature_name %> <%= g.text_field :feature_name %></p>
   <p><%= g.label :feature_class %> <%= g.text_field :feature_class %></p>
   <p><%= g.label :citation %><br/> <%= g.text_area :citation, :rows => 3 %></p>
   <p><%= g.label :latitude %> <%= g.text_field :latitude %></p>
   <p><%= g.label :longitude %> <%= g.text_field :longitude %></p>
   <p><%= g.label :elevation %> <%= g.text_field :elevation %></p>
<% end %>
