<% title "Schema > Collection: #{@collection.label}" %>
<div class="grid_12" >
	<p class="page-nav">
		<%= link_to "All Collections", admin_schema_collections_path %> <% if current_site.skos_collection.contains?(@collection) %> |
		<%= link_to "Edit", edit_admin_schema_collection_path(rdf_id(@collection)) %> |
		<%= link_to 'Delete', admin_schema_collection_path(rdf_id(@collection)), 
					:confirm => "Are you sure you want to delete this collection, all of its classes, and all of the data those classes contain?", 
					:method => :delete %>
		<% end %>
	</p>
	<hr />
</div>
<div class="grid_7">
	<div class="box">
		<h2>Addresses</h2>
		<div class="block">
			<% if @collection.definition.nil? %>
				<%= link_to "Add Description", edit_admin_schema_collection_path(rdf_id(@collection)) %>
			<% else %>
				<p><%= @collection.definition %></p>
				<p><%= link_to "Edit Description", edit_admin_schema_collection_path(rdf_id(@collection)) %>
			<% end %>
		</div>
	</div>
</div>
<div class="grid_5 omega">
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Classes</a></li>
			<li><a href="#tabs-2">Sites</a></li>
		</ul>
		<div id="tabs-1">
			<p class="meta">Classes used from the Commons</p>
			<hr />
			<ul>
				<li>None listed</li>
			</ul>
			<p>Classes created for this Collection</p>
			<hr />
			<ul>
				<%= "<li>None listed</li>".html_safe if @classes.count == 0 %>
				<% @classes.each do |cls| %>
					<li><%= link_to cls.label, admin_schema_collection_class_path(rdf_id(@collection), rdf_id(cls)) %> <%= "(#{cls.instance_count})" %></li>
				<% end %>
			</ul>
			<p><%= link_to "Add Class", new_admin_schema_collection_class_path(rdf_id(@collection)), {:class => 'add-element'} %><p>
		</div>
		<div id="tabs-2">
			<p>Sites with data in this Collection</p>
			<hr />
			<ul>
				<li>None listed</li>
			</ul>
		</div>
	</div>
	
</div>