
<% title "#{@class.label} Dataset" %>

<div class="grid_12" >
  <p class="page-nav">
    <%= link_to "All Collections", public_collection_path(rdf_id(@class.skos_concept.collection)) %>
  </p>
  <hr />
</div>

<div class="grid_6" >
  <div class="box">
    <h2><%= @class.uri %></h2>
    <div class="block">
      <%= render :partial=>'admin/metadatas/show', :locals=>{:metadata=>@metadata} %>
    </div>
    
    <p>
      <b>Download: </b>
      <%= link_to 'CSV', public_class_path(rdf_id(@class), :format=>'csv') %> |
      <%= link_to 'JSON', public_class_path(rdf_id(@class), :format=>'json') %> |
      <%= link_to 'RDF/XML', public_class_path(rdf_id(@class), :format=>'rdf') %> |
      <%= link_to 'RDF (n-triples)', public_class_path(rdf_id(@class), :format=>'nt') %>
    </p>
  </div>
</div>

<div class="grid_6 omega" >
  <div class="box">
    <h2>Map</h2>
    <div class="block">
	    <%= render :partial=>'shared/map' %>
		</div>
	</div>
</div>

<div class="grid_6 omega" >
  <div class="box">
    <h2>Chart</h2>
    <div class="block">
		</div>
	</div>
</div>	
