<% title "#{@class.label} Dataset" %>

<div class="grid_12" >
  <p class="page-nav">
    <%= link_to "All Collections", collection_path(rdf_id(@class.skos_concept.collection)) %>
  </p>
  <hr />
</div>

<div class="grid_6" >
  <div class="box">
    <h2>Metadata</h2>
    <div class="block">
      <% if @metadata %>
      <%= render :partial=>'admin/metadatas/show', :locals=>{:metadata=>@metadata} %>
      <% end %>
    </div>
    
    <p>
      <b>Download: </b>
      <%= link_to 'CSV', class_path(rdf_id(@class), :format=>'csv') %> |
      <%= link_to 'JSON', class_path(rdf_id(@class), :format=>'json') %> |
      <%= link_to 'RDF/XML', class_path(rdf_id(@class), :format=>'rdf') %> |
      <%= link_to 'RDF (n-triples)', class_path(rdf_id(@class), :format=>'nt') %>
    </p>
  </div>

  <div class="box">
    <h2>Properties</h2>
    <div class="block">
      <table>
	<thead>
	  <tr>
	    <th>Property Name</th>
	    <th>Property Type</th>
	    <th>Description</th>
	  </tr>
	</thead>
	<tbody>
	  <% @class.properties.sort {|p1,p2| p1.label <=> p2.label}.each do |property| %>
	  <tr>
	    <td><%= property.label %></td>
	    <td><span class="tooltip" title="<%=property.range %>"><%= short_uri(property.range) %></span></td>
	    <td><%= property.comment %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>

	</div>
</div>

<div class="grid_6 omega" >
  <div class="box">
	  <h2>Chart</h2>
    <div class="block">
			<div id='chart'></div>
			<%= @chart.render('chart').html_safe if @chart %>
		</div>
	</div>
	
  <div class="box">
    <h2>Map</h2>
    <div class="block">
	    <%= render :partial=>'shared/map' %>
		</div>
	</div>
</div>

<div class="grid_6 omega" >
  <div class="box">
    <div id="chart" class="block">
	    <%= render :partial=>'shared/chart' %>
		</div>
	</div>
</div>	
