<ol  style="padding: 10px; margin: 5px">
  <li>
    <label class='narrow'>Measure Label</label>
    <input name="dashboard[group][][measures][][measure]" class="standard" type="text" value="<%= measure['measure'] %>"/>
  </li>
  <li>
    <label class='narrow'>Source Class</label>
    <input name="dashboard[group][][measures][][om_source_class]" class="standard" type="text" value="<%= measure['om_source_class'] %>"/>
  </li>
  <li>
    <!-- Present a list of Properties from the selected Class above - filter to numeric types -->
    <label class='narrow'>Source Property</label>
    <input name="dashboard[group][][measures][][om_source_property]" class="standard" type="text" value="<%= measure['om_source_class'] %>"/>
  </li>
  <li>
    <label class='narrow'>Format</label>    
    <select name="dashboard[group][][measures][][format]">
      <%= options_for_select([''].concat(OpenMedia::Dashboard::FORMATS), measure['format']) %>
    </select>
  </li>
  <li>
    <label class='narrow'>Graph Type</label>
    <select name="dashboard[group][][measures][][visual]">
      <%= options_for_select([''].concat(OpenMedia::Dashboard::VISUALS), measure['visual']) %>
    </select>
  </li>
  <li>
    <label class='narrow'>Rank</label>
    <input name="dashboard[group][][measures][][rank]" class="standard" type="text" value="<%= measure['rank'] %>"/>
  </li>
  <li>
    <label class='narrow'>Description</label>
    <input name="dashboard[group][][measures][][description]" class="standard" type="text" value="<%= measure['description'] %>"/>

  </li>
  <li>
    <a href="#" class="delete-measure delete-element" alt="Delete">Delete Measure</a>
  </li>
</ol>
