<% title "Dashboard" %>
<div class="grid_6">
	<div class="box">
		<h2>Local Status</h2>
		<div class="box">
			<p><b>Catalogs:</b> 2</p>
			<p><b>Datasets:</b> 12</p>
		</div>
		<h5>Recent Local Updates</h5>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Creator</th>
					<th>Dataset</th>
					<th>Updated</th>
				</tr>
				</thead>
				<tr>
					<td><a href="#">Public Works Department</a></td>
					<td><a href="#">Pothole repairs</a></td>
					<td><%= Time.now.to_s(:simple) %></td>
				</tr>
				<tr>
					<td><a href="#">Mayor's Call Center</a></td>
					<td><a href="#">311 Calls</a></td>
					<td><%= Time.now.to_s(:simple) %></td>
				</tr>
			</table>
			<%= link_to "More...", admin_path %>
		</div>
	</div>
</div>
<div class="grid_6">
	<div class="box">
		<h2>Community Status</h2>
		<div class="box">
			<p><b>OpenMedia Sites:</b> 75</p>
			<p><b>Catalogs:</b> 80</p>
			<p><b>Datasets:</b> 517</p>
		</div>
		<h5>Recent Community Updates</h5>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Site</th>
					<th>Dataset</th>
					<th>Updated</th>
				</tr>
				</thead>
				<tr>
					<td><a href="#">City of Boston, MA</a></td>
					<td><a href="#">Part One Crime Report</a></td>
					<td><%= Time.now.to_s(:simple) %></td>
				</tr>
				<tr>
					<td><a href="#">City of San Francisco, CA</a></td>
					<td><a href="#">311 Calls</a></td>
					<td><%= Time.now.httpdate %></td>
				</tr>
			</table>
			<%= link_to "More...", admin_path %>
		</div>
	</div>
</div>
