<% title "Site Settings" %>
<div class="grid_12" >
		<%= link_to 'Edit', edit_admin_site_path %>
	<hr/>
</div>
<div class="grid_7">
	<div class="box">
		<h2>Site: <%=h @site.openmedia_name %></h2>
		<div class="block">
			<h4 class="show-property">General</h4>
			<%= show_fields(@site, [
				[:openmedia_name, "Site Name"],
				:url
				]).html_safe %>
	    <p><b>Sys Admin Contact:</b> <br/></p>
	    <p><b>Business Contact:</b> <br/></p>

			<h4 class="show-property">OpenMedia Servers</h4>
			<%= show_fields(@site, [
				[:internal_couchdb_server_uri, "Internal server URI"],
				[:public_couchdb_server_uri, "Public server URI"]
				]).html_safe %>

			<h4 class="show-property">GNIS</h4>
			<%= render :partial => 'admin/gnis/show', :locals => {:gnis => @gnis }  %>
		
			<h4 class="show-property">Services</h4>
			<%= show_fields(@site, [
				[:googlemap_api_key, "GoogleMap API Key"]
				]).html_safe %>
		</div>
	</div>
</div>
